<!DOCTYPE html>
<html>

<head>
    <title>Javascript spending app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Spending App</h1>
    <form id="spendingForm" class="spendingForm" onsubmit="addItem()">
        <input id="nameInput" type="string" placeholder="Name of item">
        <input id="priceInput" type="number" min="0.00" step="0.01" placeholder="Price of item">
        <input type="submit" name="submit">
    </form>
    <ul id="spendingList">
        <li>
            <div id="listItem" class="listItem">
                <div id="itemName">Item</div>
                <span id="header">
                    Price
                </span>
            </div>
        </li>
    </ul>
    <div class='cost'>
        <span>Total Cost: </span>
        <span id="totalCost">0.00</span>
    </div>
</body>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

</html>